<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Decrypt</title>
</head>
<body>
<form th:method="GET" th:action="@{/indicators}">
  <<button>List of Indicators</button>
</form>

<div th:if="${map}" th:each="elem : ${map}">
  <label for="indicator" th:text="'According to ' + ${elem.getKey()}"></label>
  <p th:each="reason : ${elem.getValue()}" id="indicator">
    <a th:text="'-' + ${reason}"></a>
  </p>
</div>
<div th:unless="${map}" style="color: green">
  <br>
  That is all right!
</div>
</body>
</html>