<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Indicators</title>
</head>
<body>
<form th:method="GET" th:action="@{/}">
  <<button>Home</button>
</form>

<div th:each="indicator : ${fullIndicators}">
  <a th:text="${'Name='+ indicator.getIndicator().getName()
            + ', Max=' + indicator.getIndicator().getMaxValue()
            + ', Min=' + indicator.getIndicator().getMinValue()
            + ', Current=' + indicator.getCurrentValue()}">IndicatorInfo</a>
</div>

<form th:method="GET" th:action="@{/indicators/edit/{id}(id=${person.getId()})}">
  <input type="submit" value="Edit"/>
</form>


<form th:method="GET" th:action="@{/indicators/new}">
  <input type="submit" value="Add new">
</form>

</body>
</html>