<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Indicators</title>
</head>
<body>
<form th:method="GET" th:action="@{/}">
  <
  <button>Home</button>
</form>

<div th:each="indicator : ${fullIndicators}">
  <a th:href="@{/indicators/{id}(id=${indicator.getIndicator().getId()})}"
     th:text="${indicator.getIndicator().getName() + ' = ' + indicator.getCurrentValue()}">IndicatorInfo</a>
</div>

<form th:method="GET" th:action="@{/indicators/new}">
  <input type="submit" value="Add new">
</form>

</body>
</html>