<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>New indicator</title>
</head>
<body>
<form th:method="POST" th:action="@{/indicators/{id}(id=${pi.getId()})}">
  <label for="name">Name: </label>
  <select th:object="${pi}" th:field="*{indicator}" id="name">
    <option th:each="i : ${all}" th:value="${i.getId()}" th:text="${i.getName()}"></option>
  </select>
  <br/>

  <label for="value">Value: </label>
  <input type="number" th:object="${pi}" th:field="*{currentValue}" id="value" step="0.1"/>
  <br/>

  <input type="submit" value="Create!">
</form>
</body>
</html>