<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<form th:method="GET" th:action="@{/}">
  <<button>Home</button>
</form>
<div th:if="${person}">

  <label for="name">Name:</label>
  <p th:text="${person.getName()}" id="name"></p>
  <label for="gender">Gender:</label>
  <p th:text="${person.getGender()}" id="gender"></p>
  <label for="birth">Birthday:</label>
  <p th:text="${person.getDateOfBirth()}" id="birth"></p>
  <hr/>

  <form th:method="GET" th:action="@{/people/edit/{id}(id=${person.getId()})}">
    <input type="submit" value="Edit"/>
  </form>
  <form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
    <input type="submit" value="Delete"/>
  </form>

</div>

<div th:unless="${person}">
  <br>
  <a style="color: red">Profile not found (create)</a>
  <br><hr>
  <form th:method="GET" th:action="@{/people/new}">
    <input type="submit" value="Create new">
  </form>

</div>
</body>
</html>